{% extends "parsonsjobbot/base.html"%}
{% load static %}
{% load auth_extras %}
{% block description %}Talent Surfer{% endblock %}
{% block title %}Talent Surfer{% endblock %}
{% block navtitle %}Talent Surfer{% endblock %}
{% block something-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1 style="color: white; 64px;">Welcome to the Main Page of Skill Scout!</h1>
            <p style="color: white; font-size: 24px;">Content of this page will be here for now</p>

            <div class="homepage" style="color: white; border: 1px solid white; padding: 25px; margin-bottom: 25px; background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); ">

                <ul class="list-unstyled">
                    <li style="margin-bottom: 25px;">
                        <a href="{% url 'parsonsjobbot:resume-home' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Submit a Reume to Generate a Candidate profile for yourself!')">Submit Resume</a>
                        <a href="{% url 'parsonsjobbot:my-candidate-profile' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Look at your Candidate profile information')">My Candidate Profile</a>
                        {% if request.user|has_group:"TOPM" or request.user|has_group:"TA" or request.user|has_group:"PM" or request.user|has_group:"Admin" %}
                        <a href="{% url 'parsonsjobbot:candidates' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Find a position to match with a candidate')">Enumerate Positions by Candidate</a>
                        <!-- <a href="{% url 'parsonsjobbot:job-submission' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Submit a Job')">Submit a Job</a> -->
                        <a href="{% url 'parsonsjobbot:xlsx-sow-open' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Find Candidates to fill a job opening')">Enumerate Candidates by Position</a>
                        <a href="{% url 'parsonsjobbot:sow-submission' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Submit a list of Jobs to the backend')">Submit SOW</a>
                        <a href="{% url 'parsonsjobbot:job-xlsx-submission' %}" class="btn-talent-surfer-page" onmouseover="showMessage('Submit a list of current positions that are open or closed')">Submit Vacancy List</a>
                        <a href="{% url 'parsonsjobbot:metrics' %}" class="btn-talent-surfer-page" onmouseover="showMessage('View Skill Scout\'s metrics and statistics')">Metrics and Statistics</a>
                        {% endif %}
                    </li>
                    <li style="margin-bottom: 25px;">
                        <a href="{% url 'landing_page:landing_page' %}" class="btn-talent-surfer-page">Return to Home Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Hidden element to display the message on hover -->
<div id="message" style="display: none; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); padding: 10px; color: white; border-radius: 5px; font-size: 16px; border: 1px solid white;"></div>

<script>
function showMessage(message) {
    const messageElement = document.getElementById('message');
    messageElement.innerHTML = message;
    messageElement.style.display = 'block';
}

// Hide the message when the mouse moves away from the button
document.addEventListener('mouseout', function(event) {
    const messageElement = document.getElementById('message');
    messageElement.style.display = 'none';
});
</script>

{% else %}
<body>
    <div class="container-scroll">
        <div class="container d-flex align-items-center justify-content-center" style="min-height: 75vh;">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column">
                        <h1 style="color: white; font-size: 64px;">Skill Scout Home</h1>
                        <p class="login-statement" style="color: white; font-size: 32px;">We are excited to have you join Skill Scout, but first we need you to login.</p>
                        <a class="btn-talent-surfer-page" href="{% url 'landing_page:login' %}">Login</a>
                        <h1 style="color: white; font-size: 64px;">What is Skill Scout?</h1>
                        <p style="color: white; font-size: 24px;">
                            Skill Scout is an innovative application currently being developed here at Parsons.
                            Skill Scout aims to connect job seekers within and outside of Parsons to a vast network of opportunities, helping individuals find their dream careers.
                            Our platform utilizes cutting-edge technology and leverages the expertise of Parsons to match users with the perfect job based on their skills, aspirations, and unique talents.
                            Whether you are an employee, intern, or someone seeking new professional opportunities, Skill Scout is here to support you in your journey towards success.
                        </p>
                        <a href="{% url 'landing_page:redirect-to-jobbot-about' %}" class="btn-talent-surfer-page">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}
{% endblock %}
