{% extends "parsonsjobbot/base.html" %}
{% load static %}
{% block description %}Job Details{% endblock %}
{% block title %}Job Details{% endblock %}
{% block navtitle %}Job Details{% endblock %}
{% block something-link-style %}fw-bold{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<style>
    .sticky-container {
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="sticky-container">
                <h1 style="color: white;">Job Details</h1>
                {% if position %}
                    <div class="position-details" style="color: white; border: 1px solid white; padding: 25px; margin-bottom: 25px; background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); ">
                        <p style="font-size: 26px;"><strong>Job Title:</strong> {{ position.job_title }}</p>
                        <p style="font-size: 26px;"><strong>Skill Level:</strong> {{ position.level }}</p>
                        <p style="font-size: 26px;"><strong>PositionID:</strong> {{ position.pos_id }}</p>
                        <p style="font-size: 26px;"><strong>Position Description:</strong></p>
                        <p style="font-size: 18px;">{{ position.posdesc }}</p>
                    </div>
                    <ul class="list-unstyled">
                        <li style="margin-bottom: 25px;">
                            <a href="{% url 'parsonsjobbot:xlsx-sow-open' %}" class="btn-talent-surfer-page">Return to Jobs for People</a>
                        </li>
                    </ul>
                {% else %}
                    <p style="color: white;">Candidate not found.</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'parsonsjobbot:xlsx-sow-open' %}" class="btn-talent-surfer-page">Return to Jobs for People</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <h1 style="color: white;">Matched People</h1>
            {% if matched_candidates %}
                <div class="resume-list" style="color: white; border: 1px solid white; padding: 25px; margin-bottom: 25px; background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); ">
                    <h2>Matched People and Similarity Scores</h2>
                    <div class="row">
                        {% for person, similarity_score in matched_candidates %}
                        <div class="col-md-4 mb-4">
                            <!-- btn-candidate-detail-page is not working sometimes..? just use btn-talent-surfer-page if it persists (or clear your cache I think) -->
                            <a href="{% url 'parsonsjobbot:candidate-detail-matched' person.pk %}" class="btn-candidate-detail-page" style="color: white; display: block; border: 1px solid white; padding: 10px;">
                                <p><strong>{{ person.name }}</strong></p>
                                <p>Job Title: {{ person.education }}</p>
                                <p>Similarity Score: {{ similarity_score|floatformat:0 }}%</p>
                            </a>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p style="color: white;">No matched jobs found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<body>
    <div class="container-scroll">
        <div class="container d-flex align-items-center justify-content-center" style="min-height: 75vh;">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column">
                        <h1 style="color: white; font-size: 64px;">Skill Scout Home</h1>
                        <p class="login-statement" style="color: white; font-size: 32px;">We are excited to have you join Skill Scout, but first we need you to login.</p>
                        <a class="btn-talent-surfer-page" href="{% url 'landing_page:login' %}">Login</a>
                        <h1 style="color: white; font-size: 64px;">What is Skill Scout?</h1>
                        <p style="color: white; font-size: 24px;">
                            Skill Scout is an innovative application currently being developed here at Parsons.
                            Skill Scout aims to connect job seekers within and outside of Parsons to a vast network of opportunities, helping individuals find their dream careers.
                            Our platform utilizes cutting-edge technology and leverages the expertise of Parsons to match users with the perfect job based on their skills, aspirations, and unique talents.
                            Whether you are an employee, intern, or someone seeking new professional opportunities, Skill Scout is here to support you in your journey towards success.
                        </p>
                        <a href="{% url 'landing_page:redirect-to-jobbot-about' %}" class="btn-talent-surfer-page">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}
{% endblock %}



