{% extends "landing_page/base.html" %}
{% load static %}
{% block description %}Landing Page{% endblock %}
{% block title %}Landing Page{% endblock %}
{% block navtitle %}Home{% endblock %}
{% block something-link-style %}fw-bold{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<div class="container-scroll">
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5" style="margin-bottom: 100px;">
            <div class="homepage" style="color: white; border: 1px solid white; padding: 25px; margin-bottom: 25px; background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); ">
                <h1 style="color: white; font-size: 64px;">Skill Scout Home</h1>
                <p id="rotating-text" class="rotating-text"></p>
                <a href="{% url 'landing_page:redirect-to-jobbot-resume' %}" class="btn-talent-surfer">Submit a Resumé</a>
                <a href="{% url 'landing_page:redirect-to-jobbot-talent' %}" class="btn-talent-surfer">Go to Talent Surfer</a>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-auto mb-3">
        <div class="row">
            <div class="col-12 text-center">
                <div class="homepage" style="color: white; border: 1px solid white; padding: 25px; margin-bottom: 25px; background-color: rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); ">
                    <h1 style="color: white; font-size: 64px;">What is Skill Scout?</h1>
                        <p style="color: white; font-size: 24px;">
                            Skill Scout is an innovative application currently being developed here at Parsons.
                            Skill Scout aims to connect job seekers within and outside of Parsons to a vast network of opportunities, helping individuals find their dream careers.
                            Our platform utilizes cutting-edge technology and leverages the expertise of Parsons to match users with the perfect job based on their skills, aspirations, and unique talents.
                            Whether you are an employee, intern, or someone seeking new professional opportunities, Skill Scout is here to support you in your journey towards success.
                        </p>                        
                        <a href="{% url 'landing_page:redirect-to-jobbot-about' %}" class="btn-talent-surfer">Learn More</a>
                    </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<body>
    <div class="container-scroll">
        <div class="container d-flex align-items-center justify-content-center" style="min-height: 75vh;">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-flex flex-column">
                        <h1 style="color: white; font-size: 64px;">Skill Scout Home</h1>
                        <p class="login-statement" style="color: white; font-size: 32px;">We are excited to have you join Skill Scout, but first we need you to login.</p>
                        <a class="btn-talent-surfer" href="{% url 'landing_page:login' %}">Login</a>
                        <h1 style="color: white; font-size: 64px;">What is Skill Scout?</h1>
                        <p style="color: white; font-size: 24px;">
                            Skill Scout is an innovative application currently being developed here at Parsons.
                            Skill Scout aims to connect job seekers within and outside of Parsons to a vast network of opportunities, helping individuals find their dream careers.
                            Our platform utilizes cutting-edge technology and leverages the expertise of Parsons to match users with the perfect job based on their skills, aspirations, and unique talents.
                            Whether you are an employee, intern, or someone seeking new professional opportunities, Skill Scout is here to support you in your journey towards success.
                        </p>
                        <a href="{% url 'landing_page:redirect-to-jobbot-about' %}" class="btn-talent-surfer">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endif %}



{% endblock %}



